<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDA30K_7uSThYv-yiP7rAx9pkFtauXCXIE</string>
	<key>GCM_SENDER_ID</key>
	<string>742142932041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoCrud</string>
	<key>PROJECT_ID</key>
	<string>todo-dev-6dd87</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-dev-6dd87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742142932041:ios:1688a6411f3e11b4353b98</string>
</dict>
</plist>